body {
    background: #665fee;
    background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#665fee', endColorstr='#27c2de',GradientType=1 );
        font-family: 'Montserrat', sans-serif;
        color: #FDFCFB;
        text-align: center;
        min-height: 100vh;
        margin: 0;
    padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  
  header.masthead {
    position: relative;
    /*background-color: #343a40;
     background: url("../img/bg-masthead.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem; */
  }
  
  header.masthead h1 {
    font-size: 2rem;
  }
  
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  
  .showcase .showcase-text {
    padding: 3rem;
  }
  
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }
  
  .features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .features-icons .features-icons-item {
    max-width: 20rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
  }
  
  .features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
  }
  
  .testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .testimonials .testimonial-item {
    max-width: 18rem;
  }
  
  .testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
  }
  
  .call-to-action {
    position: relative;
    background-color: #343a40;
    background: url("../img/bg-masthead.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  header {
    text-align: center;
  }

  .container
  {
    /* background: #ffffff; */
    margin-top: 0%;
    /* max-width: 75%; */
     /* padding: 2%; */
     padding: 0;
    /* color: #000000; */
  }
  .btn{
    height: 46px;
    background: #FBA100 ;
    font-family: inherit;
    font-weight: bold;
    font-size:20px;
    color: inherit;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    padding: 0;
    border: 0;
    color: #000000;
  }

.btn:hover {
    background: #007849  ;
  }

  .description
  {
    font-size:24px;
  }

  img{
    max-width: 100%;
  }

  .fa {
    font-size: 64px;
    
  }

  .download
  {
    font-family: 'Montserrat', sans-serif;
    font-size:32px;
    font-weight: bold;
  }

  .mb-5 {
    margin-bottom: 1rem !important;
  }

  p {
    margin-bottom: 0.5rem !important;
  }
  a {
    color: #ffffff;
  }


  .archive{
    background-color: #ffffff;
    color: #000000;
    text-align: left;
  }

  .archive p {
    padding: 0px 20px 10px 20px;
  }

  .archive h1 {
    padding-top:2%;
    text-align: center
  }

  .archive a {
    color:#0000ff;
    text-decoration: underline;
  }

  .alertsignup {
    color: #665fee;
    text-decoration: underline;
  }

  .footer-container{
    background-color: #444444;
    padding-top: 30px;
  }

  .footer-container a:hover {
    color: #DDDDDD;
  }

  .footer-container ul {
    list-style-type: none;
  }

  .cta-signup {
    padding: 10px 0px 30px 0px;
  }
