
body {
    background: #017BDC;
    font-family: 'Montserrat', sans-serif;
    color: #FDFCFB;
    text-align: center;
  }
  
  
  form {
    width: 800px;
    margin: 10% auto;
  }
  
 h1
  {
    color: #F5A100;  
    font-size:50px;
  }
  
  .header {
    font-size: 34px;
    /*text-transform: uppercase;
    letter-spacing: 5px;*/
  }
  
  .content {
    /*display: flex;
    flex: 1;*/
    align-items: center;
    justify-content: center;
    margin:0 auto;
    padding-top: 50px;
  position: relative;
  max-width: 60%;
  
  }
  
  .description {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin: -2px 0 45px;
  }
  
  
  .input {
    display: flex;
    align-items: center;
  }
  
  
  .button {
    height: 44px;
    border: none;
  }
  
    
  #mce-EMAIL {
    width: 75%;
    background: #FDFCFB;
    font-family: inherit;
    color: #737373;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
    font-size:20px;
  }
  
  
  #mc-embedded-subscribe {
    width: 25%;
    height: 46px;
    background: #FBA100 ;
    font-family: inherit;
    font-weight: bold;
    font-size:20px;
    color: inherit;
    letter-spacing: 1px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background .3s ease-in-out;
  }
    
  
  #mc-embedded-subscribe:hover {
    background: #007849  ;
  }
    
  
  input:focus {
    outline: none;
    outline: 2px solid #FBA100 ;
    box-shadow: 0 0 2px #FBA100 ;
  }